<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Satisfy-Regular.ttf</string>
		<string>BebasNeue-Regular.ttf</string>
		<string>DancingScript-Bold.ttf</string>
		<string>DancingScript-Regular.ttf</string>
		<string>GreatVibes-Regular.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Oswald-Bold.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>Oswald-Medium.ttf</string>
		<string>StoryScript-Regular.ttf</string>
		<string>Limelight-Regular.ttf</string>
		<string>Orbitron-Bold.ttf</string>
		<string>Orbitron-Regular.ttf</string>
		<string>Orbitron-SemiBold.ttf</string>
		<string>ImperialScript-Regular.ttf</string>
		<string>Lobster-Regular.ttf</string>
		<string>Coiny-Regular.ttf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>CC3</string>
	</dict>
</dict>
</plist>
